
@import '../../../variables.scss';

.profile{
    @include base;
}

.envelope{
    @include letter-style;
    .chunk{
        .heading{
            @include letter-title;
        }
        .skills{
            display:flex;
            flex-flow:row wrap;
            justify-content:space-evenly;
            .skill{
                width:$skill-width;
                @include sp{
                    width:$skill-width-sp;
                }
            }
        }
        .comment{
            font-family:'M PLUS 1p';
            @include sp{
                font-size:0.8rem;
            }
        }
    }
}
