@import '../../../variables.scss';

.work{
    padding:16px;
    text-align:center;
    box-sizing:border-box;
    .img_wrap{
        width:50vh;
        height:35vh;
        margin:5px auto 0;
        cursor:pointer;
        transition:filter 0.5s;
        @include sp{
            height:calc(var(--vh, 1vh) * 40);
        }
    }
    img{
        width:100%;
        height:100%;
        object-fit:contain;
        cursor:pointer;
    }
    .title{
        font-family:'Comfortaa', cursive;
        margin-bottom:5px;
        font-weight:300;
        cursor:pointer;
    }
    $font-small-text:0.9rem;
    .media_when{
        font-size:$font-small-text;
        margin:0 auto 5px;
    }
    .summary{
        font-size:$font-small-text;
        font-family:'M PLUS 1p';
        margin:0 auto 5px;
        width:60%;
        margin:auto;
        @include sp{
            width:100%;
        }
    }
    .link_buttons{
        display:flex;
        justify-content:center;
        margin:auto;
        flex-flow:row wrap;
    }
    .link_button{
        background:none;
        border:none;
        line-height:2.0rem;
        transition:background 1s;
        border-radius:15px;
        padding:0 10px;
        margin:0 2.5px;
        cursor:pointer;
        font-size:$font-small-text;
        &:hover{
            background:$hover-gray;
        }
    }
}
