<section class="work">
  <h2 class="title" (click)="onClick('demo')">{{info.title}}</h2>
  <div class="link_buttons">
    <button *ngFor="let link of info.links" (click)="onClick(link.url)" class="link_button">
      <ng-container [ngSwitch]="link.icon">
        <i *ngSwitchCase="'github'" class="fab fa-github"></i>
        <i *ngSwitchCase="'npm'" class="fab fa-npm"></i>
        <i *ngSwitchCase="'globe'" class="fas fa-globe"></i>
        <i *ngSwitchCase="'pen'" class="fas fa-pen"></i>
      </ng-container>
      {{link.name}}
    </button>
  </div>
  <div class="img_wrap">
    <ng-content></ng-content>
  </div>
  <div class="summary">{{info.summary}}
  </div>
  <div class="media_when">
    <span class="media">{{info.media}}</span> ・ <span class="when">{{info.when}}</span>
  </div>
</section>
