@import '../../../variables.scss';

@mixin common-header-footer{
    flex-grow:1;
    display:flex;
    align-items:center;
    margin:auto;
}

.main{
    @include base;
    .content{
        @include responsive-width();
        z-index:1;
        display:flex;
        flex-direction:column;
        height:100%;
        .header{
            font-family:'M PLUS 1p';
            @include common-header-footer;
        }
        .footer{
            @include common-header-footer;
            flex-direction:column;
            font-size:20px;
            font-family:'Vollkorn', serif;
            line-height:38px;
            justify-content:center;
            .menu{
                animation:flow 0.5s ease-in-out forwards;
            }
            .link{
                cursor:pointer;
            }
            i{
                padding-right:5px;
            }
            .heart{
                color:rgb(228, 51, 63);
            }
        }
        app-lemon{
            flex-basis:auto;
            width:55vh;
            margin:auto;
            @include sp{
                margin:0;
                width:100%;
            }
        }
    }
}

@keyframes flow{
    0%{
        transform:translate3d(0,10vh,0);
        opacity:0;
    }
    // 80%{
    //     transform:translate3d(0,-2vh,0);
    // }
    100%{
        transform:translate3d(0,0,0);
        opacity:1;
    }
}
