@import '../../../variables.scss';

.wrap_content{
    background-color:$background-pink;
    height:auto;
    display:flex;
    flex-direction:column;
    padding:16px;
}

.heading{
    font-family:'Comfortaa', cursive;
    font-size:1.8rem;
    text-align:center;
}

.container{
    display:flex;
    flex-flow:row wrap;
    .work{
        margin:10px;
    }
    @include sp{
        justify-content:center;
    }
}

.footer{
    text-align:center;
    font-family:'Comfortaa', cursive;
    font-size:1.1rem;
}
