@import '../../../variables.scss';
.works{
    @include base;
}

.envelope{
    @include letter-style;
    .content{
        overflow-y:auto;
    }
    .heading{
        display:flex;
        flex-direction:row;
        .title{
            @include letter-title;
        }
    }
    .container{
        display:flex;
        flex-flow:wrap;
        justify-content:space-around;
    }
}
