@import '../../../variables.scss';

.wrap_content{
    background-color:$background-pink;
    display:flex;
    flex-direction:column;
    padding:16px;
    @include sp{
        overflow-x:hidden;
    }
}

.heading{
    font-family:'Comfortaa', cursive;
    font-size:1.8rem;
    text-align:center;
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    z-index:0;
    height:100%;
    margin:16px;
}

.svg_wrap{
    width:100%;
    height:100%;
    position:absolute;
    z-index:-1;
    pointer-events:none;
    @include sp{
        width:130%;
        height:130%;
        bottom:0;
    }
}

.section_background{
    fill:$background-white;
}

.footer{
    text-align:center;
    font-family:'Comfortaa', cursive;
    font-size:1.1rem;
}
