@import "~@fortawesome/fontawesome-free/css/all.css";
body {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #fff;
  border-left: solid 1px #ececec;
}
body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  box-shadow: inset 0 0 0 2px #fff;
}

ul {
  list-style: none;
  padding-left:0;
}
